.admin-container {
  display: flex;
  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }
  .admin-content {
    width: 100%;

    .admin-header {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;

      .h-left {
        font-size: 25px;
        padding: 0px 0px 0px 10px;
        cursor: pointer;
      }

      .h-right {
        display: flex;
        gap: 25px;
        padding: 0px 20px 0 0;
      }
    }

    .admin-main {
      height: 100vh;
    }
  }
}
